body{
	background-color: #cccccc;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1vw;
	line-height: 1.9vw;
	padding: 0;
	margin: 0;
}

/*remove focus outline*/
input:focus, button:focus, .btn:focus, textarea:focus, select:focus, audio:focus, .coolKey:focus{
	outline: none;
	border: 0;
	color: #000000;
	box-shadow: none;
    filter: invert(70%);
}


/*set font for headers and remove padding from bootstrap*/

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
	line-height: 5.8vw;
	margin: 0;
}

h4,
h5,
h6{
	font-size: 2.1vw;
	line-height: 3.8vw
}

.imgTit, .card-title{
	font-size: 2.5vw;
	line-height: 2.5vw;
}
.dropMed, .dropdown-toggle, .coolKey, .artim{
	font-size: 1.5vw;
	line-height: 1.7vw;
}

.tile{
	border-radius: 18px;
	margin-top: 8%;
}

.tile:not(#main){
	background-color: rgb(238, 238, 238, 0.5);
}

.neoName, .neoInfoRight>div>p>b{
	font-size: 3.4vw;
	line-height: 3vw;
}
.neoDateTime, .neoName{
	margin:0;
	line-height: 3vw;
}


iframe {
    width: 100vw; 
    height: 25vw; 
}

/*news*/

.tit {
	margin: auto 0;
	line-height: 1.8vw;
	font-size: 1.5vw;
	letter-spacing: 0.05vw;
}

.art>span>img {
	border-radius: 50%;
	width: 9.5vw;
	height: 9.5vw;
	object-fit: cover
}

/*style rocket*/
.path {
	width:200px;
	height:100%;
	position: fixed;
	top: 0%;
	left: 50%;
	margin-left: -100px;
	padding-top: 100vh
  }
#rockLoad {
	position: absolute;
}

@media only screen and (max-width: 1060px) {
	body {
		font-size: 1.4vw;
		line-height: 2.4vw;
	}

	h4,
	h5,
	h6{
		font-size: 1.9vw;
		line-height: 3.8vw;
	}

	.tit {
		font-size: 1.5vw;
		line-height: 1.8vw;
		display: inline-block;
	}

	.imgTit, .card-title{
		font-size: 2.8vw;
		line-height: 3vw;
	}

	.neoDateTime, .neoName{
		margin:0;
	}

}

@media only screen and (max-width: 767PX) {
	body{
		font-size: 3vw;
		line-height: 4.5vw;
	}
	
	
	/*set font for headers and remove padding from bootstrap*/
	
	h1,
	h2,
	h3 {
		font-size: 8vw;
		line-height: 9vw;
	}
	
	h4,
	h5,
	h6{
		font-size: 4vw;
	}
	
	.imgTit, .card-title{
		font-size: 5vw;
		line-height: normal;
		
	}
	.dropMed, .dropdown-toggle, .coolKey{
		font-size: 4vw;
		line-height: 2.9vw;
	}

	.artim{
		font-size: 3.5vw;
		line-height: 2vw;
	}
	
	.neoName, .neoInfoRight>div>p>b{
		font-size: 7.4vw;
	}
	.neoDateTime, .neoName{
		line-height: 7vw;
	}
	
	
	iframe {
		width: 100vw; 
		height: 50vw; 
	}
	
	/*news*/
	
	.tit {
		line-height: 4vw;
		font-size: 3.8vw;
	}
	
	.art>span>img {
		width: 19vw;
		height: 19vw;
	}
}

@media only screen and (max-width: 420px) {
	div.col-4.p-0>p.my-2{
		font-size: 3.5vw;
	}
	.neoName, .neoInfoRight>div>p>b{
		font-size: 10vw;
	}
}

@media only screen and (max-width: 325px) {
	body {
		font-size: 3.6vw;
		line-height: 5.2vw;
	}
	
	h4,
	h5,
	h6{
		font-size: 3.8vw;
	}
	.imgTit{
		font-size: 7vw;
	}

	span#date{
		font-size: 5.5vw;
	}
}